*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
/*Mini frameworki**********************************/
.w50{
    width: 50%;
}
.header{
    background-color: #140c2e;
    border-bottom: 4px #020202 solid
}
.cor-white{
    color: white;
}
.linkno{
    text-decoration: none;
}
div.lado{
    padding-right: 100px;
}
/*************************************************/



/*estilo do header*****************************/

/* aonde eu estilizei a logo***************************************/
div.logo {
    position: relative;
    top: 5px;
    width: 220px;
    height: 70px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size:cover;

}
div.logo:hover{
    cursor: pointer;
}
/*********************************************************/
/* display****************************/
div.flex{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;

}
.left{
    width: 40%;
    text-align: left;
}
.right{
    width: 60%;
    text-align: right;
    padding: 0px 10px;
   
}


/*********************************************************/

/*estilo da lista de links (as ul e li)**********************************************/
div.right ul li{
    padding: 4px 4px;
    display: inline-block;
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
div.right ul li:hover{
    background-color:#311e79;
    border-radius: 20px;
}
div.right ul li{
    position: relative;
    top: 20px;
}
div.right ul li a{
    box-sizing: border-box;
    font-size: 20px;

    
}
/**********************************************************************************/
/****************************************/
@media only screen and (max-width:768px){
    div.flex{
        width: 100%;
        display: block;
    }
    
    div.w50{
        width: 100%;
        
    }
    div.logo{
        margin: 0 auto;
    }
    div.right{
        height: 100px;
        text-align: center;

    }
    

}

/**** conteudo ************************************************/

/* conteiner*******************************/

section.conteiner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background-color: #240e6e;
    padding:80px 0px 80px 80px;
}


form.ranges{
    text-align: center;
    background-color:#026ADB ;
    box-shadow: 8px 4px 21px -3px rgba(0,0,0,0.95);
}
form.ranges input{
    width: 80%;
    padding: 10px 0px;
}
form.ranges input[type='color']{
    width: 50%;
    height: 110px;
}


div.estilo{
    border: 4px gray solid;
    display: inline-block;
    width:50%;
    height: 200px;
    background-color: #026ADB;
}

/********************************************/
@media only screen and (max-width:768px){
    section.conteiner{
        width: 100%;
        padding:0px 0px 0px 0px;
        height: 900px;

    }
    form.ranges{
        width: 100%;
        
    }
    div.estilo{
        border: 4px gray solid;
        display: inline-block;
        width:80%;
        height: 200px;
        background-color: yellow;
        margin-top: 13px;
    }